:root{
    --primary-color:rgba(205,82,173,255);
    /* --primary-color:rgba(252,212,246,255); */
    --secondary-color:rgba(132,36,108,255)
}

.dark-mode{
    background-color: rgb(0, 0, 0 ,0.9);
    color: rgb(219, 213, 213);
    border-radius: 10px;
    padding: 10px 20px;
    width: 300px;
   
}
.dark-btn{
    justify-content: center;
    display: flex;
}
.dark-btn-1{
    background-color: #fff;
    padding: 7px 10px;
    text-decoration: none;
    border: 2px ;
    border-radius: 10px;
    cursor: pointer;
}
.dark-btn-1:hover{
    background-color: var(--secondary-color);
    color: #fff;
}
body{
    font-family: 'Updock', cursive;
    /* box-sizing: border-box; */
}

.modal-box{
    border: 1px solid;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: -383px;
    left: 60px;
    display: none ;
    background: rgb(255, 255, 255 );
    
    
}

.btn-m{
    padding: 5px ;
    width: 80px;
    border-radius: 10px;
    
}
#yes-btn{
    margin-right: 20px;
    margin-left: 8px;
}
.btn-m:hover{
    background-color: var(--secondary-color);
    color: #fff;
}

