.grid{
    border: 2px solid;
    padding: 10px;
    text-align: center;
}
.grid-box{
    display: grid;
    grid-template-columns: 255px 255px;
}
@media only screen and (max-width: 500px) {
    .grid-box{
        display: grid;
        grid-template-columns: 175px 175px;
    }
    .grid-box-3{
        display: grid;
        grid-template-columns: 115px 115px 115px ;
    }
}
@media only screen and (min-width : 500px) {
    
    .grid-box-3{
        display: grid;
        grid-template-columns: 170px 170px 170px ;
    }
}
body{
    font-family: 'Updock', cursive;
}
