.grid{
    border: 2px solid;
    /* width: 250px; */
    padding: 10px;
    text-align: center;

}
.grid-box{
    display: grid;
    /* border: 2px solid; */
    grid-template-columns: 255px 255px;
}
.grid-box-3{
    display: grid;
    /* border: 2px solid; */
    /* padding: 10px; */
    grid-template-columns: 170px 170px 170px ;
}
body{
    font-family: 'Updock', cursive;
    /* box-sizing: border-box; */
}
