:root{
    --primary-color:rgba(205,82,173,255);
    --secondary-color:rgba(132,36,108,255);
}
body{
    font-family: 'Updock', cursive;
    box-sizing: border-box;

}
.heading{
    border: 1px solid var(--secondary-color);
    padding: 0 5px 0 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.left-box,.right-box,.center-box,.grey-text,.small-text{
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    min-width: fit-content;
}
.right-box{
  text-align: right;
}
.center-box{
   text-align: center;
}
.small-text{
    font-size: xx-small;
}
.grey-text{
  color: grey;
}

